.calculator {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px #000;
  }
  
  .display {
    background-color: #fff;
    color: #333;
    font-size: 36px;
    width: 200px;
    height: 50px;
    text-align: right;
    padding-right: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 0 5px #000;
  }
  
  .buttons {
    display: flex;
    flex-wrap: wrap;
  }
  
  button {
    font-size: 24px;
    width: 50px;
    height: 50px;
    margin: 10px;
    border-radius: 10px;
    background-color: #fff;
    color: #333;
    border: none;
    cursor: pointer;
    box-shadow: 0 0 5px #000;
  }
  
  button:hover {
    background-color: #333;
    color: #fff;
  }
  
  .operator {
    background-color
  